html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 100vw; 
  height: 100vh; 
}

.map-overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  padding: 5px;
}


.marker-icon {
  width: 50px;
  height: 50px;
  transition: all 0.1s ease; /* Smooth transition */
}

.marker-icon:hover {
  margin-top: -26px!important;
  filter: drop-shadow(0 3mm 3mm rgb(0,0,0));
}